<div class='px-0 pt-0 lg:px-0 z-20 absolute w-full top-0 left-0 {{class}}'>
  <div class='nav-img'>
    <div
      class='container justify-center lg:max-w-screen-xl lg:ml-auto lg:mr-auto lg:items-center'
    >
      <nav
        class='nav-info flex flex-col items-center justify-betwen lg:max-w-full lg:pt-10 lg:pl-10'
        aria-label='Global'
      >
        <div class='nav-ineer mr-auto mt-10 lg:max-w-screen-xl lg:ml-auto'>
          <h1
            class='nav-title font-bold text-white text-4xl mx-5'
          >ПарсингМастер: Мгновенное Получение Данных о Товарах с Любого Сайта</h1>
          <p class='nav-text text-white mt-4 text-lg mx-5'>Ваш универсальный
            SaaS-инструмент для сбора продуктовых данных. Экономьте 90% времени
            на сборе данных конкурентов с точностью до 99.5%.</p>
        </div>
        <div
          class='menu flex flex-1 justify-start gap-x-2 mt-4 mr-auto mx-5 lg:max-w-5xl'
        >
          <a
            href='../../about.html'
            class='menu-start font-semibold text-gray-900 hover:text-white px-4 py-2 rounded-lg'
          >Начать бесплатно</a>

          <a
            href='/'
            class='menu-item font-semibold text-gray-900 hover:text-white px-4 py-2 rounded-lg'
          >Узнать Больше</a>
        </div>

      </nav>
    </div>
  </div>
</div>