<div class='px-0 pt-0 lg:px-0 z-20 absolute w-full {{class}}'>
  <div
    class='constainer flex mt-4 lg:mt-10 justify-center lg:max-w-screen-xl lg:ml-auto lg:mr-auto lg:items-center'
  >
    <section class='description'>
      <div class='description-content flex lg:flex mt-2 pr-14'>
        <div class='description-content_img md:min-w-96'>

        </div>
        <div class='description-content_box flex flex-col mx-8 font-bold'>
          <h3 class='description-content_title text-4xl mt-8 md:mt-16'>Решите
            Задачи Сбора Данных Без Кода</h3>
          <ul class='description-content_list'>
            <li class='description-content_item ml-10'>

              <h6
                class='description-content_item_title text-xl font-bold mt-6'
              >Больше никаких ручных ошибок</h6>
              <p
                class='description-content_item_text text-base font-normal mt-2'
              >Ручной сбор данных о товарах отнимает сотни часов и неизбежно
                ведет к ошибкам. ПарсингМастер устраняет эту проблему,
                обеспечивая высокую точность.</p>
            </li>
            <li class='description-content_item ml-10'>
              <h6
                class='description-content_item_title text-xl font-bold mt-6'
              >Эффективный мониторинг цен</h6>
              <p
                class='description-content_item_text text-base font-normal mt-2'
              >Отслеживание цен и наличия товаров у конкурентов требует
                постоянных трудозатрат. Наш сервис автоматизирует этот процесс,
                предоставляя вам актуальную информацию.</p>
            </li>
            <li class='description-content_item ml-10'>
              <h6
                class='description-content_item_title text-xl font-bold mt-6'
              >Принимайте обоснованные решения</h6>
              <p
                class='description-content_item_text text-base font-normal mt-2'
              >Благодаря автоматизированному парсингу всего за несколько кликов
                вы получаете надежные данные для стратегических решений.</p>
            </li>
          </ul>
          <p class='description-content_text font-normal mt-6 text-base'>Рынок
            веб-скрейпинга, оцениваемый в $2.2 млрд в 2022 году, продолжает
            стремительно расти, демонстрируя ежегодный прирост на 14.3%. Это
            подчеркивает растущую потребность в эффективных и автоматизированных
            решениях для сбора данных.</p>
        </div>

      </div>
    </section>
  </div>
</div>