<footer class='footer'>
  <div
    class='container justify-center lg:max-w-screen-xl lg:ml-auto lg:mr-auto lg:items-center'
  >
    <div class='footer-content flex py-8 px-14'>
      <div class='footer-content_img mb-10 md:min-w-96'></div>
      <div class='footer-content_inner flex flex-col max-w-xl mx-8'>
        <h3 class='footer-content_title font-bold text-4xl mt-16'>Начните
          Использовать ПарсингМастер Сегодня!</h3>
        <p class='footer-content_text font-normal mt-2 text-base'>Не упустите
          возможность оптимизировать ваш бизнес с помощью ПарсингМастера.
          <span class='font-bold'>Зарегистрируйтесь бесплатно</span>
          прямо сейчас и получите первые 100 кредитов для тестирования всех
          наших функций.</p>
        <ul
          class='footer-content_box flex flex-col md:flex md:flex-row md:flex-wrap md:mb-14'
        >
          <li
            class='footer-content_item max-w-[98%] md:max-w-[45%] mt-8 mx-2 px-4 pb-4 break-words'
          >
            <h6
              class='footer-content_item_title text-xl font-bold mt-6'
            >Демонстрация Продукта</h6>
            <p
              class='footer-content_item_text font-normal mt-2 text-base'
            >Запишитесь на демонстрацию, чтобы увидеть ПарсингМастер в действии
              и получить ответы на все ваши вопросы.</p>
          </li>
          <li
            class='footer-content_item max-w-[98%] md:max-w-[45%] mt-8 mx-2 px-4 pb-4 break-words'
          >
            <h6 class='footer-content_item_title text-xl font-bold mt-6'>Часто
              Задаваемые Вопросы</h6>
            <p
              class='footer-content_item_text font-normal mt-2 text-base'
            >Ознакомьтесь с нашим разделом часто задаваемых вопросов для
              быстрого решения типовых проблем и получения информации.</p>
          </li>
          <li class='footer-content_item max-w-[98%] mt-4 mx-2 px-4 pb-4'>
            <h6
              class='footer-content_item_title text-xl font-bold mt-6'
            >Свяжитесь с Нами</h6>
            <p class='footer-content_item_text font-normal mt-2 text-base'>Есть
              вопросы? Мы всегда готовы помочь! Пишите нам на
              support@parsingmaster.ru или звоните по телефону +7 (495)
              XXX-XX-XX.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>