<section class='price'>
  <div
    class='container justify-center lg:max-w-screen-xl lg:ml-auto lg:mr-auto lg:items-center'
  >
    <div class='price-content flex flex-col py-8 px-14'>
      <h3 class='price-title font-bold text-4xl mt-16'>Для Кого ПарсингМастер?</h3>
      <ul class='price-content flex flex-wrap gap-6 lg:mb-14'>
        <li class='price-content_item max-w-[48%] lg:mt-8'>
          <h6 class='price-content_title text-xl font-bold mt-6'>E-commerce
            магазины</h6>
          <p class='price-content_text font-normal mt-2 text-base'>Отслеживайте
            цены конкурентов (до 500 тыс. SKU/день), проводите анализ рыночных
            ниш и автоматизируйте наполнение каталогов товаров.</p>
        </li>
        <li class='price-content_item max-w-[48%] lg:mt-8'>
          <h6
            class='price-content_title text-xl font-bold mt-6'
          >Дропшипперы</h6>
          <p class='price-content_text font-normal mt-2 text-base'>Находите
            прибыльные товары и эффективно мониторьте поставщиков для
            оптимизации вашего бизнеса.</p>
        </li>
        <li class='price-content_item max-w-[48%] lg:mt-8'>
          <h6 class='price-content_title text-xl font-bold mt-6'>Маркетинговые
            агентства</h6>
          <p class='price-content_text font-normal mt-2 text-base'>Собирайте
            данные для SEO-анализа, контент-маркетинга и глубоких исследований
            рынка, получая конкурентное преимущество.</p>
        </li>
        <li class='price-content_item max-w-[48%] lg:mt-8'>
          <h6
            class='price-content_title text-xl font-bold mt-6'
          >Производители</h6>
          <p class='price-content_text font-normal mt-2 text-base'>Контролируйте
            соблюдение рекомендованных розничных цен у партнеров, защищая свою
            ценовую политику.</p>
        </li>
        <li class='price-content_item max-w-[48%] lg:mt-8'>
          <h6 class='price-content_title text-xl font-bold mt-6'>Аналитики и
            Исследователи</h6>
          <p class='price-content_text font-normal mt-2 text-base'>Быстро
            получайте большие объемы структурированных данных для ваших
            исследований и анализа, экономя драгоценное время.</p>
        </li>
      </ul>
    </div>
    <div class='price-table flex flex-col pb-16 px-14'>
      <h3 class='price-table_title font-bold text-4xl mt-16'>Тарифы и Цены</h3>
      <table class='price-table_table table-auto font-normal mt-2 text-base'>
        <thead>
          <tr class='font-bold'>
            <th></th>
            <th>Бесплатный</th>
            <th>Базовый</th>
            <th>Профессиональный</th>
            <th>Бизнес</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class='first-col font-bold'>Кредиты/месяц</td>
            <td>100</td>
            <td>50 000</td>
            <td>200 000</td>
            <td>Индивидуально</td>
          </tr>
          <tr>
            <td class='first-col font-bold'>Цена/месяц</td>
            <td>Бесплатно</td>
            <td>5 990 ₽</td>
            <td>14 990 ₽</td>
            <td>от 29990 ₽</td>
          </tr>
          <tr>
            <td class='first-col font-bold'>Форматы экспорта</td>
            <td>Нет</td>
            <td>CSV/Excel</td>
            <td>Все форматы</td>
            <td>Все форматы</td>
          </tr>
          <tr>
            <td class='first-col font-bold'>Приоритетная поддержка</td>
            <td>Нет</td>
            <td>Нет</td>
            <td>Да</td>
            <td>Да</td>
          </tr>
          <tr>
            <td class='first-col font-bold'>API Доступ</td>
            <td>Нет</td>
            <td>Нет</td>
            <td>Нет</td>
            <td>Да</td>
          </tr>
          <tr>
            <td class='first-col font-bold'>Выделенный менеджер</td>
            <td>Нет</td>
            <td>Нет</td>
            <td>Нет</td>
            <td>Да</td>
          </tr>
        </tbody>
      </table>
      <p class='price-table_text font-normal mt-2 text-base'>
        При годовой подписке на любой из планов вы получаете экономию в 20%,
        делая наше решение еще более выгодным для вашего бизнеса.</p>
    </div>
  </div>
</section>