<section class='steps'>
  <div
    class='container justify-center lg:max-w-screen-xl lg:ml-auto lg:mr-auto lg:items-center'
  >
    <div class='steps-content flex flex-col py-2 px-14'>

      <h3 class='steps-title font-bold text-4xl mt-4 md:mt-16 text-white'>Как
        Это Работает: 3 Простых Шага</h3>
      <ul class='steps-content flex flex-col lg:flex-row lg:mb-14'>
        <li
          class='steps-content_item mt-4 sm:max-w-[80%] lg:max-w-[30%] md:mt-8'
        >
          <div class='steps-content_line mt-14'></div>
          <h6
            class='steps-content_title text-xl font-bold mt-6 text-white px-4'
          >Шаг 1: Вставьте Ссылку</h6>
          <p
            class='steps-content_text font-normal mt-2 text-base text-white px-4'
          >Просто скопируйте и вставьте URL страницы товара или категории,
            которую хотите спарсить. Наш интерфейс интуитивно понятен и не
            требует специальных навыков.</p>
        </li>
        <li
          class='steps-content_item mt-4 sm:max-w-[80%] sm:ml-4 lg:max-w-[30%] md:mt-8'
        >
          <div class='steps-content_line mt-8'></div>
          <h6
            class='steps-content_title text-xl font-bold mt-6 text-white px-4'
          >Шаг 2: Настройте Парсинг (или Автоматически)</h6>
          <p
            class='steps-content_text font-normal mt-2 text-base text-white px-4'
          >Наш продвинутый ИИ-алгоритм автоматически определит основные поля
            данных на странице. При необходимости вы можете выбрать их вручную
            для максимального контроля.</p>
        </li>
        <li
          class='steps-content_item mt-4 sm:max-w-[80%] sm:ml-8 lg:max-w-[30%] md:mt-8'
        >
          <div class='steps-content_line mt-2'></div>
          <h6
            class='steps-content_title text-xl font-bold mt-6 text-white px-4'
          >Шаг 3: Получите Данные</h6>
          <p
            class='steps-content_text font-normal mt-2 text-base text-white px-4'
          >Нажмите кнопку "Парсить" и через считанные секунды скачайте готовый
            файл с необходимой информацией. Среднее время обработки 1000 товаров
            составляет всего 45 секунд.</p>
        </li>
      </ul>
    </div>
  </div>
</section>